<div class="about-me glass">
    <div class="about-me-top">
        <div class="about-me-top-title">
            <img src="/assets/dinosaur.png" alt="dino-img" class="h-2">
            <h3>About me</h3>
        </div>
    </div>
    <div class="about-me-middle">
        <p>I am 21 years old.</p>
        <p>I like to explore, travel, meet new people and places in nature.</p>
        <p>Since I was a kid I like to create things, either to solve a problem or just for fun.</p>
        <p>I started programming about 5 years ago with the idea of creating mobile apps and games, but then I decided
            to
            go into web development.</p>
    </div>
</div>