<div class="about-me glass">
    <div class="about-me-top">
        <div class="about-me-top-title">
            <img src="/assets/dinosaur.png" alt="dino-img" class="h-2">
            <h3>About me</h3>
        </div>
    </div>
    <div class="about-me-middle">
        <p>I am {{ age }} years old.</p>
        <p>I like to explore, travel and meet new people.</p>
        <p>Ever since I was a kid, I was attracted to new technology.</p>
        <p>
            I started programming about 8 years ago with the idea of creating mobile apps and games, but then I decided
            to go into web development, as I found it to be more interesting.
        </p>

        <div class="line"></div>

        <div class="container" (click)="openCloseStudies()">
            <div class="container-top">
                <div class="container-top-left">
                    <img src="/assets/reading.png" alt="container-img" class="h-1">
                    <h4>My Studies</h4>
                </div>
                <div class="container-top-right"><img src="/assets/down-arrow.png" alt="container-img" class="h-1"
                        [class.rotate]="!openStudies">
                </div>
            </div>
        </div>
        <div class="container-bottom" [hidden]="openStudies">
            <p>I completed my schooling from a decent school. Then, I got into KIIT University, Bhubaneswar.</p>
            <p>Secondary Education - 87% (2015)</p>
            <p>Higher-Secondary Education - 72% (2017)</p>
            <p>B.Tech - 8.10 CGPA (2022)</p>
        </div>

        <div class="line"></div>

        <div class="container" (click)="openCloseDailyLife()">
            <div class="container-top">
                <div class="container-top-left">
                    <img src="/assets/check_calendar.png" alt="container-img" class="h-1">
                    <h4>My daily life</h4>
                </div>
                <div class="container-top-right"><img src="/assets/down-arrow.png" alt="container-img" class="h-1"
                        [class.rotate]="!openDailyLife">
                </div>
            </div>
        </div>
        <div class="container-bottom" [hidden]="openDailyLife">
            <p>I consider it extremely important to maintain a balanced life, which implies:</p>
            <ul>
                <li>Not to exceed my working hours.</li>
                <li>Every so often while using the computer, go for a walk to clear my mind.</li>
                <li>Leave some time to disconnect from everything and enjoy life.</li>
                <li>In my free time, learn new stuff (not tech-stuff). 😉</li>
            </ul>
        </div>

        <div class="line"></div>

        <div class="container" (click)="openCloseNotes()">
            <div class="container-top">
                <div class="container-top-left">
                    <img src="/assets/notebook.png" alt="container-img" class="h-1">
                    <h4>My notes</h4>
                </div>
                <div class="container-top-right"><img src="/assets/down-arrow.png" alt="container-img" class="h-1"
                        [class.rotate]="!openNotes">
                </div>
            </div>
        </div>
        <div class="container-bottom" [hidden]="openNotes">
            <p>When I learn something new, I tend to write it down. It helps me recollect in any later point of time.
            </p>
        </div>

    </div>
</div>