<div class="about-me glass">
    <div class="about-me-top">
        <div class="about-me-top-title">
            <img src="/assets/dinosaur.png" alt="dino-img" class="h-2">
            <h3>About me</h3>
        </div>
    </div>
    <div class="about-me-middle">
        <p>I am 21 years old.</p>
        <p>I like to explore, travel, meet new people and places in nature.</p>
        <p>Since I was a kid I like to create things, either to solve a problem or just for fun.</p>
        <p>
            I started programming about 5 years ago with the idea of creating mobile apps and games, but then I decided
            to go into web development.
        </p>

        <div class="line"></div>

        <div class="container">
            <div class="container-top">
                <div class="container-top-left">
                    <img src="/assets/reading.png" alt="container-img" class="h-1">
                    <h4>My Studies</h4>
                </div>
                <div class="container-top-right"><img src="/assets/down-arrow.png" alt="container-img" class="h-1">
                </div>
            </div>
        </div>
        <div class="container-bottom">
            <p>All my knowledge comes from my "self-taught" studies and the experience acquired in my projects.</p>
            <p>From time to time, I like to put together a study plan based on the things that I feel like learning
                and think will be most useful to me. Then I dedicate a couple of hours each day until I complete it.
            </p>
        </div>

        <div class="line"></div>

        <div class="container">
            <div class="container-top">
                <div class="container-top-left">
                    <img src="/assets/check_calendar.png" alt="container-img" class="h-1">
                    <h4>My daily life</h4>
                </div>
                <div class="container-top-right"><img src="/assets/down-arrow.png" alt="container-img" class="h-1">
                </div>
            </div>
        </div>
        <div class="container-bottom">
            <p>I consider it extremely important to maintain a balanced life, which implies:</p>
            <ul>
                <li>Not to exceed my working hours.</li>
                <li>Doing sports several times a week.</li>
                <li>Every so often while using the computer, go for a walk to clear my mind.</li>
                <li>Leave some time to disconnect from everything and enjoy life.</li>
            </ul>
        </div>

        <div class="line"></div>

        <div class="container">
            <div class="container-top">
                <div class="container-top-left">
                    <img src="/assets/notebook.png" alt="container-img" class="h-1">
                    <h4>My notes</h4>
                </div>
                <div class="container-top-right"><img src="/assets/down-arrow.png" alt="container-img" class="h-1">
                </div>
            </div>
        </div>
        <div class="container-bottom">
            <p>When I learn something new, I like to write it down so I don't forget it. Explained in my own words so
                that, at least for me, it is easier to understand.</p>
        </div>

    </div>
</div>