.about-me {
    padding : 2rem 1.5rem;

    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.about-me-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me-top-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me-top-title h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-left: 1rem;
}

.about-me-middle {
    font-weight: 300;
    font-size: large;
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.line {
    background-color: grey;
    width: 100%;
    height: 1px;
    margin: 0.5rem 0;
}

.container {
    display:flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
}

.container:hover {
    background-color : rgb(87 ,83 ,78, 0.2);
}

.container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-top-left {
    display: flex;
    flex-direction: row;
}

.container-top-left h4 {
    margin-left: 1rem;
}

.container-bottom {
    padding: 0.5rem 1rem;
}