.intro {
    margin-top: 8em;
}

.intro-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.left-img {
    height: 7rem;
    display: inline-block;
}

.name-tite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.name {
    font-size: 3em;
}

.title {
    font-weight: lighter;
}

.photo {
    height: 126px;
    width: 126px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;

    margin-left: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.photo img{
    height: 100%;
    transition: 0.5s all ease-in-out;
}

.photo img:hover{
    transform: scale(1.5);
}



.intro-bottom {
    padding : 2rem 1.5rem;
    margin-top: 8rem;

    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.intro-bottom-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro-bottom-top-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro-bottom-top-title h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-left: 1rem;
}

.intro-bottom-top-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.intro-bottom-top-links a img{
    height: 1.5rem;
}

.intro-bottom-top-links a:hover {
    cursor: pointer;
}

.intro-bottom-middle {
    font-weight: 300;
    font-size: large;
}

.intro-bottom-bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.intro-bottom-bottom button{
    flex-grow: 1;
    font-weight: 500;
    padding:0.5rem 1rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    background-color: inherit;
    color: white;
    margin: 1rem;
}

.intro-bottom-bottom button:hover {
    cursor: pointer;
    opacity: 0.4;
}

.intro-bottom-bottom button:last-child {
    border: 1px solid white;
    color: black;
    background-color: white;
    width: 90%;
}

@media (max-width: 670px) {
    .intro-top {
        flex-direction: column-reverse;
        text-align: center;
    }
    
    .photo {
        height: 126px;
        justify-content: space-evenly;
        margin-left: 0;
    }

    .left-img {
        display: none;
    }
    
}

@media (max-width: 480px) {
    .name {
        font-size: 2em;
    }
    
    .title {
        font-size: 1em;
        font-weight: lighter;
    }

    .intro-bottom {
        margin-top: 4rem;
    }

    .intro-bottom-top-links a img{
        height : 1rem;
    }
}