<div class="intro">
    <div class="intro-top">
        <img class="left-img" src="/assets/curve.png" alt="curve-img">
        <div class="name-title">
            <h1 class="name">Soumyajit Saha</h1>
            <h2 class="title">Web Developer / Angular</h2>
        </div>
        <div class="photo">
            <img src="/assets/profile.png" alt="soumyajit-img">
        </div>
    </div>

    <div class="intro-bottom glass">
        <div class="intro-bottom-top">
            <div class="intro-bottom-top-title">
                <img src="/assets/hand.png" alt="hand-img" class="h-2">
                <h3>Hello</h3>
            </div>
            <div class="intro-bottom-top-links">
                <a href=""><img src="/assets/react.png" alt="" class="h-2"></a>
                <a href=""><img src="/assets/react.png" alt="" class="h-2"></a>
            </div>
        </div>
        <div class="intro-bottom-middle">I am a software developer from adra, India, who loves to create and explore new
            things
        </div>
        <div class="intro-bottom-bottom">
            <button>About me</button>
            <button>Skills</button>
            <button>Projects</button>
            <button>Contact me!</button>
        </div>
    </div>
</div>