<div class="intro">
    <div class="intro-top">
        <img class="left-img" src="/assets/curve.png" alt="curve-img">
        <div class="name-title">
            <h1 class="name">Soumyajit Saha</h1>
            <h2 class="title">Web Developer / Angular</h2>
        </div>
        <div class="photo">
            <img src="/assets/soumyajit_photo.jpg" alt="soumyajit-img">
        </div>
    </div>

    <div class="intro-bottom glass">
        <div class="intro-bottom-top">
            <div class="intro-bottom-top-title">
                <img src="/assets/hand.png" alt="hand-img" class="h-2">
                <h3>Hello</h3>
            </div>
            <div class="intro-bottom-top-links">
                <a (click)="goToLink('https://github.com/soumyajitsaha72')"><img src="/assets/github.png"
                        alt="github-img" class="h-1"></a>
                <a (click)="goToLink('https://www.linkedin.com/in/soumyajit-saha-jack/')"><img
                        src="/assets/linkedin.png" alt="linkedin-img" class="h-1"></a>
                <a (click)="goToLink('https://www.instagram.com/itzzz_soumyajit/')"><img src="/assets/instagram.png"
                        alt="instagram-img" class="h-1"></a>
            </div>
        </div>
        <div class="intro-bottom-middle">I am a software developer from adra, India, who loves to create and explore new
            things
        </div>
        <div class="intro-bottom-bottom">
            <button>About me</button>
            <button>Skills</button>
            <button>Projects</button>
            <button>Contact me</button>
            <button>Download Resume</button>
        </div>
    </div>
</div>