<div class="contacts glass">
    <div class="contacts-top">
        <div class="contacts-top-title">
            <img src="/assets/credentials.png" alt="credentials-img" class="h-2">
            <h3>Contact me</h3>
        </div>
    </div>
    <div class="contacts-middle">
        <form>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <textarea placeholder="Message"></textarea>
            <button type="submit">Send <img src="/assets/down-arrow.png" alt="arrow-img" class="h-0"></button>
        </form>
    </div>
</div>