.contacts {
    padding : 2rem 1.5rem;

    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.contacts-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts-top-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts-top-title h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-left: 1rem;
}

.contacts-middle {
    font-weight: 300;
    font-size: large;
    
    display: flex;
    flex-direction: row;
}

.contacts-middle form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contacts-middle form input {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid #ffffff48;
    border-radius: 0.25rem;
    color: white;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
}

.contacts-middle form input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.contacts-middle form textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.contacts-middle form textarea {
    height: 12rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid #ffffff48;
    border-radius: 0.25rem;
    color: white;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
}

.contacts-middle form button {
    padding: 0.5rem 1rem;
    background-color: #00B288;
    border: 1px solid #ffffff48;
    border-radius: 0.25rem;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.contacts-middle form button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.contacts-middle form button:disabled img{
    opacity: 0.3;
}

.contacts-middle form button:hover {
    opacity: 0.3;
}

.msg {
    background-color: #00B288;
    color: black;
    font-weight: bold;
    width: 4rem;
    height: 1.5rem;
    border-radius: 0.25rem;
    font-size: small;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
