.disable {
    display: none;
}

.projects {
    padding : 2rem 1.5rem;

    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.projects-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-top-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects-top-title h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-left: 1rem;
}

.projects-middle {
    font-weight: 300;
    font-size: large;
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    border-radius: 0.25rem;
    overflow: hidden;

    border: 1px solid grey;

    position: relative;
}

.projects-img {
    height: 5rem;
    width: 5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projects-img img {
    width: 100%;
    height: 100%;
}

.projects-info {
    padding: 0.5rem 1rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.projects-info-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 1.25rem;
}

.projects-info-heading p{
    font-size: medium;
}

.secret-div {
    background-color: rgba(0, 0, 0, 0.8);;
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: 1; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.secret-div-live {
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}